@import "tailwindcss";

*, *::before, *::after {
  font-family: 'Space Grotesk', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #F4F2FF;
  color: #262A33;
  margin: 0;
}

.font-mono-data {
  font-family: 'Space Mono', monospace;
}
